node_modules/
config/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
npm-debug.log
error_logs/
seeds/
Procfile
noup.out
package-lock.json
sendgrid.env
configs.js
.vscode/
.DS_Storesendgrid.env
sendgrid.env
sendgrid.env
